/* ---Primary-page-color: #FFFFFF; */
/* ---Secondary-page-color: #303030; */
/* ---Accent-page-color: #FF6C00 */
/* ---HeroSubtitle-PricesList-ContactItem-whSubtitle-Grey-color: #9DA4BD;*/
/* ---HeroUptitle-Herosubtitletextlink-Pricesuptitle uptitle-Bookinglinkcolor: rgba(157, 164, 189, 0.4); */

:root {
    --font-raleway: 'Raleway', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;
    --Primary-page-color: #FFFFFF;
    --Secondary-page-color: #303030;
    --Accent-page-color: #FF6C00;
    --HeroSubtitle-PricesList-ContactItem-whSubtitle-Grey-color: #9DA4BD;
}

--HeroUptitle-Herosubtitletextlink-Pricesuptitle uptitle-Bookinglinkcolor: rgba(157, 164, 189, 0.4);

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-opensans) background-color: #E5E5E5;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* .container {
    width: 1600px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
} */

/* .section {
    padding-top: 92px;
    padding-bottom: 92px;
} */


/*----------------------- HEADER----LOGOSECTION---------------- */



.section-logo {}

.image-logo {
    margin-top: 32px;
    margin-left: 55px;
}

.uphero-list {
    background-color: aqua;
}

.uphero-item {}

.uphero-link {
    margin-top: 40px;
    font-family: var(--font-opensans);
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--Secondary-page-color);
}

.link:focus,
.link:hover {
    color: var(--Accent-page-color);
}

.link:active {
    color: var(--Accent-page-color);
}

.link {
    text-decoration: none;
}

.section-title {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
    color: var(--Secondary-page-color);
}

.uptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    cursor: pointer;
}






/* ---------------HEADER---------------- */

.header {

    background-color: palevioletred;
}

.header a {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--Primary-page-color);
    text-decoration: none;
}

.header-nav {
    /* margin: 40px 20px 0px 100px; */

}

/* .header-nav-list {
    display: flex;
    gap: 30px;
} */

.header-nav-item {}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #FF6C00;
}

.header-nav-link:active {
    color: var(--Secondary-page-color);
}


.header-contact {
    text-transform: uppercase;
}

.header-btn {

    color: var(--Primary-page-color);


}




/* -------------SECTION----HERO----- */


.hero {
    background-image: url(/images/hero.jpg);
}

.hero-list {
    background-color: #FFFFFF;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--Accent-page-color);
}

.hero-uptitle {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    font-family: var(--font-raleway);
    font-style: normal;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--Primary-page-color);
}


.hero-subtitle {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--HeroSubtitle-PricesList-ContactItem-whSubtitle-Grey-color);
}

.hero-subtitle-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

}

.hero a {
    text-decoration: none;
}




/* ----------SECTION-ABOUT--------------------- */
.about {}

.about-list {}

.about-item {}

.about-uptitle {

    color: var(--Secondary-page-color);
}

.uptitle {}

.about-title {
    color: var(--Secondary-page-color);
}


.about-subtitle {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-text {
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-btn {

    color: var(--Secondary-page-color);

}

.btn {}


/* ---SERVICE--and---PRICES */

.prices {
    background-color: aquamarine;
}


.prices-uptitle {

    color: rgba(157, 164, 189, 0.6);
}

.prices-title {
    color: var(--Primary-page-color);
}

.section-title {}

.prices-list {}

.prices-item {}

.prices-item-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.prices-btn {

    color: var(--Primary-page-color);
}





/* ------BENEFITS--------------------- */


.benefits {}

.benefits-list {}

.benefits-item {}


.benefits-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.32;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--Secondary-page-color);
}

.benefits-plus {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;
    color: var(--Accent-page-color);
}


.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color: var(--Secondary-page-color);
}

.benefits-uptitle {
    color: var(--Secondary-page-color);
}

.section-title {}

.benefits-title {
    color: var(--Secondary-page-color);
}

.benefits-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #555555;
}



/* -------BARBERS-------------------- */

.barbers {}


.barbers-uptitle {
    color: var(--Secondary-page-color);
}


.barbers-title {
    color: var(--Secondary-page-color);
}



.barbers-list {}


.barbers-item {}

.barbers-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--Secondary-page-color);
}

.barbers-item-text {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--Accent-page-color);
}

.barbers-soc-list {}

.barbers-soc-item {}

.barbers-soc-link {}


/* ---GALLERY----ПОРТФОЛІО--------------------- */

.gallery-uptitle {
    color: var(--Secondary-page-color);
}

/* ------------ONLINE------BOOKING----------- */






/* ----------------CONTACTS---------------------------- */


.contacts {
    background-color: brown;
}



.contacts-title {
    color: var(--Primary-page-color);
}

.section-title {}

.contacts-address {
    font-style: inherit;
}

.contacts-list {}

.contacts-item {}

.contacts-link {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.contacts-link-bold {
    font-weight: 700;
}

.link {}

.contacts-schedule-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;
    color: var(--Primary-page-color);
}

.contacts-schedule-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #9DA4BD;
}




/* --------FOOTER---------ПІДВАЛ------------------ */

.footer {
    background-color: #F7F7F7;
    ;
}

.container {}

.copyright {}

.footer-list {}

.footer-list-item {}

.footer-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: var(--Secondary-page-color);
}

.link {}